body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    border: 1px solid grey;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

input {
    border: 0;
    width: 100%;
}

i {
    color: red;
    margin-top: 5px;
    margin-right: 10px;
}